body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    margin: 0px;
}

.top1 {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top2 {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    flex: auto;
    height: 60px;
    min-width: 900px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 200px;
    margin-right: 200px;
    
}

.headlink {
    flex: none;
    
}
.headlink a {
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
}

.header ul {
    flex: none;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    column-gap: 20px;
    
}

ul a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.sectwo {
    height:450px;
    margin-left: 200px;
    margin-right: 200px;
    display:flex;
    align-items:center;
    column-gap: 50px;
}

.minwidth {
    min-width: 350px;
}

.sectwo .head {
    font-size:48px;
    font-weight: 700;
    margin-top: -60px;
    margin-bottom: 10px;
    color: #F9FAF8
}

.sectwo .para{
    margin-top: 10px;
    font-size: 18px;
    font-size: 18px;
    color: #E5E7EB
}
.sectwo img {
    height:300px;
    width: 500px;
}

.sectwo button{
    border: none;
    border-radius:10px;
    padding: 8px 25px;
    background:#3882F6;
    font-size: 18px;
    font-weight: bold;
    color:#F9FAF8;
}


.secthree {
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.secthree .head2 {
    height:150px;
    display:flex;
    justify-content: center;
    align-items: center;
    

}

.head2text {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    min-width:500px;

}

.fourboxes {
    display: flex;
    column-gap: 40px;
    margin-left: 350px;
    margin-right: 350px;
}

.block {
    width: 220px;
}


.boximg {
    height:220px;
    border-radius: 25px;
    border: 5px solid #3882F6;
    display: flex;
    justify-content:center;
}

img {
    border-radius:20px;
    height: 220px;
    width: 210px;       
}


.block p {
    text-align: center;
    font-size: 22px;
    color:#1F2937;
    margin-top: 10px;
}

.mid {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
}

.secfour {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:500px;
    margin-left: 350px;
    margin-right: 350px;
}

.secfour p {
    max-height: 300px;
    min-width: 650px;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    line-height: 50px;
}

.secfour div {
    align-self: flex-end;
    font-size: 30px;
    font-weight: bold;
    white-space:nowrap;
}    

.secfive {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    margin-left: 250px;
    margin-right: 250px;
}

.box {
    max-height:150px;
    min-width: 800px;
    flex:auto;
    display:flex;
    column-gap: 150px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #3882F6;
    padding: 70px;
}

.minibox {
    display:flex;
    flex-direction: column;
    max-height: 80px;
}

.lineone{
    font-weight:bold;
    color:#E5E7EB;
    font-size: 26px; 
}
.linetwo {
    color:#E5E7EB;
    font-size: 20px;
}


.box button {
    min-width: 200px;
    flex: none;
    border: 3px solid #E5E7EB;
    border-radius: 10px;
    background-color: #3882F6;
    color:#E5E7EB;
    font-size: 22px;
    padding: 6px 40px;
}

.footer {
    display: flex;
    justify-items: center;
    align-items: center;
    height:100px;
    background-color: #1F2937;
    
}

.footer div {
    color:#E5E7EB;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    min-width:320px;
}

button:hover{
    cursor:pointer;
    background-color: #7aa9f5;
}